---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import { Image } from "astro:assets";
---

<BaseLayout
  title="About | Andi Syafrianda"
  description="About Andi Syafrianda Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
				<Image
					width="1553"
					height="873"
					src="/assets/about-me.webp"
					alt="Andi Syafrianda at work with a colleague"
				/>
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            As a seasoned UX/UI designer and web developer, I specialize in
            transforming complex digital challenges into seamless, engaging user
            experiences. Based in Payakumbuh, Indonesia, my work with UX
            Collective and as a WordPress Developer at DigiKuy highlights my
            ability to elevate business strategies through innovative web
            solutions. My commitment to excellence is evident in every project,
            where I blend technical skill with creative vision to produce
            superior outcomes.
          </p>

          <p>
            My portfolio spans significant achievements like developing scalable
            web applications for Gandiwa Nusantara and enhancing SEO for
            Navipos.com, greatly improving their web visibility. My global
            freelance experience allows me to deliver not only functional but
            also visually appealing digital solutions that drive client success.
            If you're looking to transform your digital presence, I offer the
            expertise and creativity to make it happen.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>UI/UX, Copywriting, UX Research, Figma, WordPress Development, Amazon Web Services (AWS), Front-End Development, CSS (Cascading Style Sheets), Git, HTML, Microsoft Excel, Facebook Ads, SEO (Search Engine Optimization), PHP, MySQL, React.js, Redux, Express.js, REST APIs, Payment Gateways, Laravel, JavaScript, Agile Methodologies, Sentry, gRPC, Java, Sinatra, Ruby, Object-Oriented Programming (OOP), Adobe Photoshop, Adobe Illustrator, Email Marketing, Microsoft Word.</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
